:root{
    font-size: 10px;
}
*{
    -webkit-appearance: none;
    appearance: none;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.leftside-wrapper{
    max-width: 40vw;
    max-height: 100vh;
    display: flex;
}

.rightside-wrapper{
    max-height: 100vh;
    max-width: 60vw;
    display: flex;
}
.page-wrapper, .content-wrapper, .signup-heading{
    display: flex;
}
.content-wrapper, .form-wrapper, .signup-heading{
    flex-direction: column;
}
.background-img{
    width: 40vw;
    height: 100vh;
}

.logo-opaque {
    max-width: 6vw;
    background-color: black;
    position: absolute;
    padding: 1.5vh 17vw;
    margin: 0;
    opacity: 0.7;
    top: 20vh;
}
 
.signup-heading{
    margin: 4rem 2vw 0 3.5vw;
    width: 40vw;
    font-weight: 600;
}
.signup-heading p{
    font-size: 2.5rem;
    margin: 0;
}
.signup-heading p:first-child{
    margin-top: 12vh;
}
.signup-heading p:nth-child(2){
   margin-top: 2rem;
   font-style: italic;
}
.signup-heading p:nth-child(3){
    margin-top: 7rem;
}
.form-wrapper{
    width: 50vw;
    margin: 1rem 2vw 0 0;
    box-sizing: border-box;
}
.form-wrapper fieldset{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    border: 0;
    border-left: 3.5vw solid white;
    border-right: 10vw solid white;
    padding: 0 0 3rem 0;
    box-shadow: 0px 4px 0px -1px #e4e4e4;
}

label, input{
    display: block;
}
label{
    font-size: 1.5rem;
}
input{
    padding: 5px;
    width: 12vw;
    border: 1px solid #e4e4e4; 
    border-radius: 0.5;
    font-size: 1.75rem;
}
input:hover{
    border: 1px solid blue;
}
input:focus{
    outline: none !important;
    border: 2px solid blue;
}
input:invalid:not(:focus){
    border: 2px solid red;
    color: red;
}
label[for='email']{
    position: relative;
    top: -34px;
}
input#email{
    position: relative;
    bottom: -17px;
}
.invalidPassword::after{
    content: '* Passwords do not match';
    font-size: 1.5rem;
    color: red;
}

input[type="button"]{
    margin-top: 30px;
    margin-left: 3.5vw;
    background-color: #48aaad;
    padding: 15px;
    font-size: 2.2rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div.login-redirection{
    margin: 3rem 2vw 0 3.5vw;
    font-size: 1.9rem;
    display: flex;
}

.login-redirection div {
    margin-left: 5px;
    font-weight: bold;
    color: #48aaad;
}